{% if error_warning and error_module %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} {{ error_module }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
{% endif %}
{% if (modules) %}
  <form action="{{ url_extract }}" class="form-horizontal" method="post" enctype="multipart/form-data" id="form-search">
    <input type="hidden" name="extract_module" value="{{ module_name }}">
    <table class="table table-striped table-bordered table-hover">
      <caption>{{ table_files }}</caption>
      <thead>
        <tr>
          <td class="text-center"><input type="checkbox" id="module-select-all"></td>
          <td>{{ column_search_path }}</td>
          <td>{{ column_search_file }}</td>
        </tr>
      </thead>
      <tbody>
        {% for modules in modules %}
          <tr>
            <td class="text-uppercase" colspan="3"><b>{{ modules['module'] }}({{ modules.files|length }})</b></td>
          </tr>
          {% for module in modules['files'] %}
            <tr>
              <td class="text-center"><input type="checkbox" name="modules[]" value="{{ module['name'] }}"></td>
              <td>{{ module['path'] }}</td>
              <td>{{ module['file'] }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
            {% if (total is defined) %}
              <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>{{ success }}</strong> {{ text_total }} {{ total }}
              </div>
            {% endif %}
          </td>
        </tr>
      </tfoot>
    </table>
    {% if ocmod %}
    <table class="table table-striped table-bordered table-hover">
      <caption>{{ table_modifications }}</caption>
      <thead>
      <tr>
        <td></td>
        <td>{{ column_search_id }}</td>
        <td>{{ column_search_code }}</td>
        <td>{{ column_search_name }}</td>
        <td>{{ column_search_author }}</td>
        <td>{{ column_search_version }}</td>
        <td>{{ column_search_status }}</td>
        <td>{{ column_search_date_added }}</td>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center"><input type="checkbox" name="ocmod" value="{{ ocmod['modification_id'] }}"></td>
          <td>{{ ocmod['modification_id'] }}</td>
          <td>{{ ocmod['code'] }}</td>
          <td>{{ ocmod['name'] }}</td>
          <td>{{ ocmod['author'] }}</td>
          <td>{{ ocmod['version'] }}</td>
          <td>{{ ocmod['status'] }}</td>
          <td>{{ ocmod['date_added'] }}</td>
        </tr>
      </tbody>
    </table>
    {% endif %}
  </form>
{% else %}
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>{{ warning }}</strong> {{ empty_search }}
  </div>
{% endif %}

<script>
$(document).ready(function(){
  $('#module-select-all').on('click', function () {
    $('input[name*="modules"]').prop('checked', this.checked);
  });
});
</script>
