{% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
{% endif %}
{% if (files) %}
  <form action="{{ url_remove }}" class="form-horizontal" method="post" enctype="multipart/form-data" id="form-files">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <td class="text-center"><input type="checkbox"  id="files-select-all"></td>
          <td>{{ column_file_name }}</td>
          <td>{{ column_file_size }}</td>
          <td>{{ column_file_date }}</td>
        </tr>
      </thead>
      {% for file in files %}
        <tbody>
          <tr>
            <td class="text-center"><input name="files[]" type="checkbox" value="{{ file['file'] }}"></td>
            <td><a href="{{ file['link'] }}">{{ file['name'] }}</a></td>
            <td>{{ file['size' ] }}</td>
            <td>{{ file['date'] }}</td>
          </tr>
        </tbody>
      {% endfor %}
      <tfoot>
        <tr>
          <td colspan="4">
            {% if (total is defined) %}
              <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>{{ success }}</strong> {{ text_total }} {{ total }}
              </div>
            {% endif %}
          </td>
        </tr>
      </tfoot>
    </table>
  </form>
{% else %}
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>{{ warning }}</strong> {{ empty_files }}
  </div>
{% endif %}
<script>
$(document).ready(function() {
  $('#files-select-all').on('click', function () {
    $('input[name*="files"]').prop('checked', this.checked);
  })
});
</script>
